
.weather {
  background-color: #492F46;
  padding: 30px;
  text-align: left;
  font-size: 1.2rem;
}

.left {
  float: left;
}
.left2 {
  overflow: hidden;
  display: block;
  padding: 0 4px 0 10px
}
.left2 input {
  width: 100%
}

.wrapper {
  display:flex;
  height: 250px;
}
.refresh {
  width: 100%;
  font-size: 1rem;
  text-align: right;
}
.search-history {
  /* border: 1px solid green; */
  padding-left: 3px;
}