.App {
  text-align: center;
  background-color: #303030
}

.Container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  /* border: 1px solid orange; */
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center;
}

.App-header {
  padding-bottom:20px;
  font-weight: bold;
}

